<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5115542834.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Exercise Me</title>
</head>
<body>
    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <h1>Your screen's aspect ratio is not supported,</h1>
            <h1>Please move to a mobile device.</h1>
            <img src="/static/images/resize-icon.svg" alt="Resize Icon" class="resize-icon">
        </div>
    </div>

    <nav>
        <div class="navbar-container">

        </div>
    </nav>


    <script src="/static/scripts/ar-blocker.js"></script>
</body>
</html>